#image {
  height: 70;
  width: 70;
  border-radius: 70px;
  margin-top: 20px;
}
#html {
  height: 100;
  width: 100;
}
#nav1 {
  background-color: rgba(132, 132, 132, 0.384);
  align-items: center;
  height: 100px;
  border-radius: 20px;
}
#site1 {
  font-size: 50px;
  margin-left: 20px;
}
#ul1 {
  display: flex;
  list-style-type: none;
}
section {
  height: 20%;
  align-items: center;
}
