*{
    outline: 1px solid lightblue;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(224, 224, 224);
    /* border-radius: 0 0 12px 12px; */
    height: 10vh;
  
  }
  ul {
    display: inline-flex;
    margin-left: 70%;
    list-style-type: none;
  }
  h2{
    display: inline;
    margin-left: 2vw;
    font-size: 35px;
    
  }
  li {
    margin:0px 2vw;
    display: inline;
  }
main{
    display: flex;
    
}
main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 72vh;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(14,143,226,1) 0%, rgba(0,255,196,1) 100%);
    z-index: -1;
    opacity: 0.7;
}
.left, .right{
    box-sizing: border-box;
    width: 50%;
}
.left{
    margin: 6vh 2vw;
    border-radius: 12px;
    background-color: white;
    height: 60vh;
    background-position: center;
    background-image: url(logo.png);
    background-size: 30vw;
    background-repeat: no-repeat;
}
.right{
    margin: 2vw 1vw;
    text-align: center;
}

.cate{
    margin-top: 3vh;
}
.option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5vw;
}
h1{
    
    text-align: center;
}
.card{
    display: flex;
  background-image: url(chemistry.png);
  background-position:6vw 10px;
  background-size:40px;
  background-repeat: no-repeat;
    justify-content: center;
    height: 25vh;
    width: 16vw;
    margin: 2vh 0;
    border-radius: 20px;
    
}
.card::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background-image: linear-gradient(to bottom, #f2b0cd, #f39cc4, #f387ba, #f271b1, #f058a8);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}
.card1::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,143,226,1) 0%, rgba(0,255,196,1) 100%);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}
.card3::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background: linear-gradient(to bottom,#acd7eb,#15e04b);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}
.card4::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background: linear-gradient(to bottom,#a39503,#bfc27c);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}
.card5::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background: linear-gradient(to bottom,#b7bac0,#5c2184);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}
.card6::before{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: inherit;
    height: inherit ;
    background: linear-gradient(to bottom,#06efd9,#8a5e5a);
    background-size:100%;
    background-repeat: no-repeat;
   opacity: 0.8;
    z-index: -1;
}

.p{
    text-align: center;
    margin-top: 15vh;
    color: rgb(44, 44, 44);
}